<!DOCTYPE html>
<html>
<head>
    <title>Black Ball | @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
<img src="@Url.Content("~/Content/Logo.jpg")" alt="logo" />

<nav>
<ul>
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
@if (User.Identity.IsAuthenticated)
{
<li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
}
</ul>
</nav>
</header>

<section id="main">
    @RenderBody()

    <footer>
    </footer>
    </section>
</body>
</html>
